.profile {
    margin: 100px 0;
  }
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }
  footer {
    font-family: 'Pacifico','Merienda';
    // position: fixed-bottom;
    background-color: teal;
    color: white;
    padding: 5px; 
}
.side-bar {
    padding: 40px 20px;
  }
  .nav-item {
    margin: 5px 10px;
  }

  form {
    margin: 10px;
    width: 60%;
    //padding: 70px;
    position: fixed;
    align-content: center;
  }

