.profile {
    margin: 100px 0;
  }
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }
  footer {
    font-family: 'Pacifico','Merienda';
    // position: fixed-bottom;
    background-color: teal;
    color: white;
    padding: 5px; 
}

