.profile {
    margin: 100px 0;
  }
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }
  footer {
    font-family: 'Pacifico','Merienda';
    // position: fixed-bottom;
    background-color: teal;
    color: white;
    padding: 5px; 
}

  .nav-item {
    margin: 5px 10px;
  }

  form {
    padding: 10px;
    position: relative;
    align-content: center;
    padding: 5%;
  }
  form button {
    margin: 15px;
    width: 30px;
  }

.authenticationWrapper {
    color: #000;
    font-family: 'Quicksand', 'Roboto', 'Ubuntu Mono', sans-serif;
    text-align: center;
    padding: 13px;
    margin-top: 13%;
  }
  
  .authenticationBox {
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 400px;
    padding: 10px;
    border-radius: 10px;
  }
  .background {
    background-image: url('http://res.cloudinary.com/babadee30/image/upload/q_100/v1507808251/books6_ih8rqm.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }

  .bookswrapper {
    margin: 0 auto;
    padding: 38px;
    border-bottom: 1px #ccc solid;
  }
  
  .mg-btm {
    margin-bottom: 20px;
  }
  .book {
    width: 100px;
  }
  .row-centered {
    text-align: center;
  }
  .col-centered {
    display: inline-block;
    float: none;
    top: 300px;
    color: white;
  }
  .col-centered a {
    margin: 5px;
    width: 20%;
  }
  .navbar a {
    margin: 15px;
  }
  .navitems {
    margin-bottom: 5px;
  }
  